########################
# Editor temporary files
*.swp
.~lock*

# excel files
# ###########
*.xlsx

# Compiled source
#################
*.exe
*.py[ocd]

# Python files
##############
build
dist
*.egg-info
.eggs

# test files
# ##########
.coverage
cover/
